$primary-blue: #358ED7;


body {
  margin: 0px;
  background-color: $primary-blue;
  background-image: url("../images/radar.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.container {
  padding-top: 40px;
  padding-left: 250px;
  padding-right: 400px;
}

div{
  display: block;
}

div .header {
  height: 1000px;
}

button {
  background: none;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: #6BACE2;
  padding-left: 30px;
  padding-bottom: 12px;
  padding-right: 30px;
  padding-top: 12px;
  position: fixed;

  #login {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
  }
}
.first {
  background-color: #fff;
  background-image: url("../images/world.png");
  background-repeat: no-repeat;
}


div.slideshow-nav a.nav-right {
  /* -webkit-animation: navRightSlideOut .5s linear; */
  animation: navRightSlideOut .5s linear;
  right: -43px;
  border-top-left-radius: 900px;
  border-bottom-left-radius: 900px;

  position: fixed;
  width: 70px;
  height: 140px;
  top: 50%;
  margin-top: -70px;
  opacity: .1;
  text-align: center;
  /* -webkit-transition: all linear .1s; */
  transition: all linear .1s;
  background: #000;
  cursor: pointer;
}

div.slideshow-nav a.nav-left {
  /* -webkit-animation: navLeftSlideOut .5s linear; */
  animation: navLeftSlideOut .5s linear;
  left: -43px;
  border-top-right-radius: 900px;
  border-bottom-right-radius: 900px;

  position: fixed;
  width: 70px;
  height: 140px;
  top: 50%;
  margin-top: -70px;
  opacity: .1;
  text-align: center;
  /* -webkit-transition: all linear .1s; */
  transition: all linear .1s;
  background: #000;
  cursor: pointer;
}


.hide-text {
  border: 0;
  clip: rect(0 0 0 0);
  display: block;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
}


div.slideshow-nav a.nav-right:before {
  background-position: -94px -25px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 19px;
  height: 35px;
  background-image: url(https://projects.invisionapp.com/share/common/img/screen-viewer-sprite.png?v=1443727367387);
  right: 50%;
  margin-right: -17px;
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -17px;
}

div.slideshow-nav a.nav-left:before {
  backbackground-position: -25px -25px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 19px;
  height: 35px;
  background-image: url(https://projects.invisionapp.com/share/common/img/screen-viewer-sprite.png?v=1443727367387);
  left: 50%;
  margin-left: -17px;
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -17px;
}


div.slideshow-nav a.nav-right:hover {
  right: 0;
  opacity: .5;
}
div.slideshow-nav a.nav-left:hover {
  left: 0;
  opacity: .5;
}


p {
  color: #fff;
  font-size: 50px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}

#slide1 {
  font-size: 25px;
  font-weight: lighter;
  font-family: 'Roboto', sans-serif;
}

div #slider1 {
  position: relative;
  left: 100px;
  top: 150px;
  padding-top: 20px;
}
