
<button>
<a id="login" href="/login">Sign in</a>
</button>

<div id="screens_viewer_nav" data-reactid=".0.4">
  <div class="slideshow-nav" data-reactid=".0.4.0">
    <div id="slider1">
      <p>Group login was never</br> this easy.</p>
      <p id="slide1">Build a community of users and start</br> prototyping your app in just a few steps.</p>
    </div>
    <a class="prev nav-left" data-reactid=".0.4.0.0">
      <span class="hide-text" data-reactid=".0.4.0.0.0">Previous</span>
    </a>
    <a class="next nav-right" data-reactid=".0.4.0.1">
      <span class="hide-text" data-reactid=".0.4.0.1.0">Next</span>
    </a>
  </div>
</div>
