<div class="container">
<ul>
  <li><img src="images/angJava.gif" /></li>
  <li><img src="images/facegroup.gif" /></li>
  <li><img src="images/chart.gif" /></li>
  <li><img src="images/chat.gif" /></li>
</ul>
</div>
